*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

.app 
{
    display: flex;
    justify-content:flex-start;
    height: 100vh;

}
.app .leftContent 
{
    background-image: url('../images/loginBook.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    position: relative;

}
.app .leftContent::after
{
    position:absolute;
    content: "";
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ce7852bf;

}

.app .rightContent
{
    width: 600px;
    padding: 40px;
    text-align: center;
    overflow: hidden;

}

.app .rightContent .up
{
    padding: 20px;
    position: relative;
}
.app .rightContent .up form 
{
    position:absolute;
    width: 100%;
    transition: all .5s;
}

#up
{
    left: 0;
}
#in
{
    left: -600px;
}
.app .rightContent .up h2 
{
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 2.5px;
}
.app .rightContent .up h2::first-letter
{
    color: #ce7852;
}
.app  .rightContent .up label 
{
    font-size: 15px;
    color: #555;
    font-family: tahoma;

}
.app  .rightContent  input[type="text"],
.app  .rightContent  input[type="password"]
{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ce785294; 
    outline: none;
    font-size: 15px;
}
.app  .rightContent button 
{
    
    width: 100%;
    height: 35px;
    font-size: 18px;
    letter-spacing: 1.5px;
    outline: none;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    background-color: #ce7852;
    color: #FFF;
    margin-bottom: 10px;


}
.app  .rightContent span {
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    cursor: pointer;
    color: #555;
    margin-left: 250px;




    
}
.app  .rightContent span:hover i 
{
    margin-left: 15px;
}

.app  .rightContent span i {
    margin-left: 9px;
    color:#ce7852;
    transition: all .5s ;
}